.grid-container {
    display: grid;
    gap:10px;
    grid-template-columns: auto auto auto;
    column-gap:10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}
.item-1{
    grid-column-start:0;
    grid-column-end:2;   
    text-align:center;
    grid-column:1;
}
.item-2{
    grid-column:2;
    background-color:#52ab98;
}

.item-3{
    grid-column-start:1;
    grid-column-end:1;
}