.grid-container {
    display: grid;
    gap:10px;
    grid-template-columns: auto auto auto;
    padding:10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.item-1{
    grid-column-start:0;
    grid-column-end:2;   
    margin:0px -90px; 
    text-align:center;
}
.item-2{
    height:10px;
}
.item-3{
    grid-column-start:1;
    grid-column-end:1;
}