/*colour palette!
#2b6777
#c8d8e4
#ffffff
#f2f2f2
#52ab98
/* page gtitle */
menu{
  background-color:#f2f2f2;
  margin:-5px 0px 0px 0px;
}
.test{
  color:
  #2b6777
  #c8d8e4
  #ffffff
  #f2f2f2
  #52ab98
  #5bccf6;

}

#pgtitle{
    margin:200px 0px 0px 0px;
    font-weight:bold;
    color:#5bccf6;
    font-size:56px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*description under page*/
#pgdescription{
  font-size:18px;
  margin:40px;
  
}

/* make the navbar at the very top*/
body {
  margin:0px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:#2b6777
}
head{
  margin:0px;
}

.page-body{
  font-size:18px;

}



/* navbar*/
.topnav {
    background-color:#f2f2f2;
    overflow: hidden;
    text-align:center;
    padding: 24px 15px;

}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 24px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Change the color of links on hover */
.topnav a:hover {
  color:#2b6777;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000000;
  color: white;
  
}
/* Right-aligned section inside the top navigation */
